/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    background:url(../images/background-1.jpeg) center fixed;
    background-size:cover;
    background-repeat:no-repeat;
    display:table;
font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #292929;
}
a {
    text-decoration: none !important;
}

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    color: #ffa31a;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;

    transition: 0.2s ease-in-out;
  }


#header
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:300px;
    transition:all ease-in-out 0.5s;
    z-index:9997;
    background:#292929;
    padding:0 15px;
    overflow-y:auto;
}
.profile img
{
    margin:15px auto;
    display:block;
    
}
.profile h1 a{
    font-size:24px;
    color:#ffffff; ;
    margin:0;
    padding:0;
    text-decoration:none;
}
.profile h1 a:hover
{
    color:#ffa31a;
}
.nav-menu
{
    padding-top:30px;
}
.nav-menu *
{
    margin:0;
    padding:0;
    list-style:none;
}
.nav-menu li{
    padding:10px 0px;
}
.nav-menu li a
{
    color:#ffffff;
    text-decoration:none;
}
.nav-menu li a:hover
{
    color:#ffa31a;
}
/*------Mobile------*/
.mobile-nav-toggle
{
    position:fixed;
    right:15px;
    top:15px;
    z-index:9998;
    border:0;
    font-size:30px;
    background:none;
    outline:none;
    line-height:1;
}
.mobile-nav-toggle i
{
    color:#ffa31a;
}
.mobile-nav-active
{
    overflow:hidden;
}
.mobile-nav-active #header
{
    left:0;
}
#main
{
    margin-left:300px;
}
@media (max-width:1190px)
{
    #header
    {
        left:-300px;
    }
    #main
    {
        margin-left:0;
    }
}

/*------Home------*/

#home
{
    width:100%;
    height:100vh;
    /* background:url(../images/background-1.jpeg) center fixed;
    background-size:cover;
    background-repeat:no-repeat;
    display:table; */
}
#home::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}
.home-container
{
    left:30%;
    position:absolute;
    z-index:2;
    min-width:300px;
}
.home-container h1
{
    margin: 0 0 10px 0;
}
.home-container p
{
    font-size:20px;
}
.content-btn {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa31a;
    border: 1px solid #ffa31a;
    border-radius: 50px;
    color: #ffffff;
}

.content-btn:hover {
    background-color: #ffffff;
    color: #ffa31a;
    border: 1px solid #ffa31a;
}
@media(min-width:1024px)
{
    #home
    {
        background-attachment: fixed;
    }
}
@media(max-width:768px)
{
    .home-container
    {
        left:10%;
    }
    .home-container h1
    {
        font-size:30px;
    }

}
/*------About------*/

#about .container
{
    background:rgba(41,41,41,0.7);
    color:#ffffff;
}

/*------Skills------*/




#skills
{
    color:#ffffff;
    list-style:none;
}
.skills li
{
   margin:20px 0;
}
.bar
{
    background:#292929;
    display:block;
    height:5px;
    overflow:hidden;
    box-shadow:0 0 10px  rgba(255,255,255,0.7);
}
.bar span
{
    height:5px;
    float:left;
    background:#ffa31a;
}
.html
{
    width:70%;
    animation:html 2s;
}
.css
{
    width:70%;
    animation:css 2s;
}
.javascript
{
    width:30%;
    animation:javascript 2s;
}
.nodejs
{
    width:20%;
    animation:nodejs 2s;
}
.figma
{
    width:60%;
    animation:figma 2s;
}
.photoshop
{
    width:60%;
    animation:photoshop 2s;
}

@keyframes html
{
    0%
    {
        width:0;
    }
    100%
    {
        width:70%;
    }
}


@keyframes css
{
    0%
    {
        width:0;
    }
    100%
    {
        width:70%;
    }
}


@keyframes javascript
{
    0%
    {
        width:0;
    }
    100%
    {
        width:30%;
    }
}


@keyframes nodejs
{
    0%
    {
        width:0;
    }
    100%
    {
        width:20%;
    }
}

@keyframes figma
{
    0%
    {
        width:0;
    }
    100%
    {
        width:60%;
    }
}

@keyframes photoshop
{
    0%
    {
        width:0;
    }
    100%
    {
        width:60%;
    }
}

/*------Product-------*/

#product .container
{
    width:100%;
    height:50vh;
    background:rgba(41,41,41,0.7);
}
.pr-content
{
    top:30%;
}

/*------Contact------*/

.contact-us {
    margin: 30px;
}


.ct .fas {
    color: #ffffff;
}

.ct p {
    color: #ffffff;
}
.social-icon
{
    display:inline-block;
}
.social-icon .fab {
    color: #ffffff;
    font-size: 20px;
}

.social-link i:hover {
    color: #ffa31a;
}

